html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  background: white;
  color: #212121;
  -webkit-font-smoothing: antialiased;
}

hr {
  margin: 60px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: none;
}

p {
  padding-bottom: 10px;
}

.l-container {
  max-width: 800px;
  margin: 0 auto 100px;
  padding: 0 20px;
}

.header {
  background: #f7f8fe;
  margin-bottom: 40px;
  text-align: center;
  padding: 80px 0;
}
.header__title {
  font-size: 42px;
  line-height: 1.5;
}
.header__subtitle {
  margin-bottom: 20px;
}
.header__btn {
  display: inline-block;
  padding: 10px 20px;
  background: #e0e4fc;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #667cf0;
  -moz-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.header__btn:hover {
  background: #d8defb;
}

.section {
  margin-bottom: 40px;
}
.section__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}
