html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  font: 12px Helvetica, Arial, sans-serif;
  background: white;
  color: #444444;
}

.content {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
}
@media screen and (max-width: 480px) {
  .content {
    font-size: 14px;
  }
}

.true, .false {
  display: inline-block;
}

.true {
  color: #00c30e;
}

.false {
  color: #d10013;
}

hr {
  border: 0;
  background: #ddd;
  height: 1px;
  margin: 10px 0;
}

h1 {
  color: #000;
  font-size: 24px;
}

p[class*="attr"] {
  padding: 3px 0;
}
p[class*="attr"] .true {
  display: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  p.attr-hdpi .true {
    display: inline-block;
  }
  p.attr-hdpi .false {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  p.attr-ipad .true {
    display: inline-block;
  }
  p.attr-ipad .false {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-device-pixel-ratio: 2) {
  p.attr-ipad-retina .true {
    display: inline-block;
  }
  p.attr-ipad-retina .false {
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 1) {
  p.attr-iphone3 .true {
    display: inline-block;
  }
  p.attr-iphone3 .false {
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 1) and (orientation: landscape) {
  p.attr-iphone3-landscape .true {
    display: inline-block;
  }
  p.attr-iphone3-landscape .false {
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 1) and (orientation: portrait) {
  p.attr-iphone3-portrait .true {
    display: inline-block;
  }
  p.attr-iphone3-portrait .false {
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) {
  p.attr-iphone4 .true {
    display: inline-block;
  }
  p.attr-iphone4 .false {
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) and (orientation: landscape) {
  p.attr-iphone4-landscape .true {
    display: inline-block;
  }
  p.attr-iphone4-landscape .false {
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) and (orientation: portrait) {
  p.attr-iphone4-portrait .true {
    display: inline-block;
  }
  p.attr-iphone4-portrait .false {
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) {
  p.attr-iphone5 .true {
    display: inline-block;
  }
  p.attr-iphone5 .false {
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) and (orientation: landscape) {
  p.attr-iphone5-landscape .true {
    display: inline-block;
  }
  p.attr-iphone5-landscape .false {
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) and (orientation: portrait) {
  p.attr-iphone5-portrait .true {
    display: inline-block;
  }
  p.attr-iphone5-portrait .false {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  p.attr-ipad-landscape .true {
    display: inline-block;
  }
  p.attr-ipad-landscape .false {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  p.attr-ipad-portrait .true {
    display: inline-block;
  }
  p.attr-ipad-portrait .false {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
  p.attr-ipad-retina-landscape .true {
    display: inline-block;
  }
  p.attr-ipad-retina-landscape .false {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  p.attr-ipad-retina-portrait .true {
    display: inline-block;
  }
  p.attr-ipad-retina-portrait .false {
    display: none;
  }
}

p.attr-max-width span[class*="max-width"] {
  display: inline-block;
  padding-right: 5px;
  color: #bbb;
}

@media screen and (max-width: 320px) {
  p.attr-max-width span.max-width-320 {
    color: #00c30e;
  }
}
@media screen and (max-width: 480px) {
  p.attr-max-width span.max-width-480 {
    color: #00c30e;
  }
}
@media screen and (max-width: 768px) {
  p.attr-max-width span.max-width-768 {
    color: #00c30e;
  }
}
@media screen and (max-width: 1024px) {
  p.attr-max-width span.max-width-1024 {
    color: #00c30e;
  }
}
@media screen and (max-width: 1200px) {
  p.attr-max-width span.max-width-1200 {
    color: #00c30e;
  }
}
@media screen and (max-width: 1400px) {
  p.attr-max-width span.max-width-1400 {
    color: #00c30e;
  }
}
@media screen and (max-width: 1600px) {
  p.attr-max-width span.max-width-1600 {
    color: #00c30e;
  }
}

p.attr-min-width span[class*="min-width"] {
  display: inline-block;
  padding-right: 5px;
  color: #bbb;
}

@media screen and (min-width: 320px) {
  p.attr-min-width span.min-width-320 {
    color: #00c30e;
  }
}
@media screen and (min-width: 480px) {
  p.attr-min-width span.min-width-480 {
    color: #00c30e;
  }
}
@media screen and (min-width: 768px) {
  p.attr-min-width span.min-width-768 {
    color: #00c30e;
  }
}
@media screen and (min-width: 1024px) {
  p.attr-min-width span.min-width-1024 {
    color: #00c30e;
  }
}
@media screen and (min-width: 1200px) {
  p.attr-min-width span.min-width-1200 {
    color: #00c30e;
  }
}
@media screen and (min-width: 1400px) {
  p.attr-min-width span.min-width-1400 {
    color: #00c30e;
  }
}
@media screen and (min-width: 1600px) {
  p.attr-min-width span.min-width-1600 {
    color: #00c30e;
  }
}

p.attr-min-screen-height span[class*="min-screen-heigh"] {
  display: inline-block;
  padding-right: 5px;
  color: #bbb;
}

@media screen and (min-height: 320px) {
  p.attr-min-screen-height span.min-screen-height-320 {
    color: #00c30e;
  }
}
@media screen and (min-height: 480px) {
  p.attr-min-screen-height span.min-screen-height-480 {
    color: #00c30e;
  }
}
@media screen and (min-height: 768px) {
  p.attr-min-screen-height span.min-screen-height-768 {
    color: #00c30e;
  }
}
@media screen and (min-height: 1024px) {
  p.attr-min-screen-height span.min-screen-height-1024 {
    color: #00c30e;
  }
}
@media screen and (min-height: 1200px) {
  p.attr-min-screen-height span.min-screen-height-1200 {
    color: #00c30e;
  }
}
@media screen and (min-height: 1400px) {
  p.attr-min-screen-height span.min-screen-height-1400 {
    color: #00c30e;
  }
}
@media screen and (min-height: 1600px) {
  p.attr-min-screen-height span.min-screen-height-1600 {
    color: #00c30e;
  }
}

p.attr-max-screen-height span[class*="max-screen-heigh"] {
  display: inline-block;
  padding-right: 5px;
  color: #bbb;
}

@media screen and (max-height: 320px) {
  p.attr-max-screen-height span.max-screen-height-320 {
    color: #00c30e;
  }
}
@media screen and (max-height: 480px) {
  p.attr-max-screen-height span.max-screen-height-480 {
    color: #00c30e;
  }
}
@media screen and (max-height: 768px) {
  p.attr-max-screen-height span.max-screen-height-768 {
    color: #00c30e;
  }
}
@media screen and (max-height: 1024px) {
  p.attr-max-screen-height span.max-screen-height-1024 {
    color: #00c30e;
  }
}
@media screen and (max-height: 1200px) {
  p.attr-max-screen-height span.max-screen-height-1200 {
    color: #00c30e;
  }
}
@media screen and (max-height: 1400px) {
  p.attr-max-screen-height span.max-screen-height-1400 {
    color: #00c30e;
  }
}
@media screen and (max-height: 1600px) {
  p.attr-max-screen-height span.max-screen-height-1600 {
    color: #00c30e;
  }
}
