@import "compass/reset";
@import "../../_media-queries";

// --- content variables -----------------------------------------------------------------------------------------------

$background: #fff;
$text-color: #444;

// --- content ---------------------------------------------------------------------------------------------------------

* { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

body
{
  font: 12px Helvetica, Arial, sans-serif;
  background: $background;
  color: $text-color;
}

.content
{
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;

  @include max-screen(480px)
  {
    font-size: 14px;
  }
}

.true, .false
{
  display: inline-block;
}

.true
{
  color: #00c30e;
}

.false
{
  color: #d10013;
}

hr
{
  border: 0;
  background: #ddd;
  height: 1px;
  margin: 10px 0;
}

h1
{
  color: #000;
  font-size: 24px;
}

// --- attr ------------------------------------------------------------------------------------------------------------

p[class*="attr"]
{
  padding: 3px 0;

  .true
  {
    display: none;
  }
}

p.attr-hdpi
{
  @include hdpi
  {
    .true  { display: inline-block;}
    .false { display: none;}
  }
}

p.attr-ipad
{
  @include ipad
  {
    .true  { display: inline-block;}
    .false { display: none;}
  }
}

p.attr-ipad-retina
{
  @include ipad-retina
  {
    .true  { display: inline-block;}
    .false { display: none;}
  }
}

// ---------------------------------------------------------------------------------------------------------------------

p.attr-iphone3
{
  @include iphone3
  {
    .true  { display: inline-block;}
    .false { display: none;}
  }
}

p.attr-iphone3-landscape
{
  @include iphone3(landscape)
  {
    .true  { display: inline-block;}
    .false { display: none;}
  }
}

p.attr-iphone3-portrait
{
  @include iphone3(portrait)
  {
    .true  { display: inline-block;}
    .false { display: none;}
  }
}

// ---------------------------------------------------------------------------------------------------------------------

p.attr-iphone4
{
  @include iphone4
  {
    .true  { display: inline-block;}
    .false { display: none;}
  }
}

p.attr-iphone4-landscape
{
  @include iphone4(landscape)
  {
    .true  { display: inline-block;}
    .false { display: none;}
  }
}

p.attr-iphone4-portrait
{
  @include iphone4(portrait)
  {
    .true  { display: inline-block;}
    .false { display: none;}
  }
}

// ---------------------------------------------------------------------------------------------------------------------

p.attr-iphone5
{
  @include iphone5
  {
    .true  { display: inline-block;}
    .false { display: none;}
  }
}

p.attr-iphone5-landscape
{
  @include iphone5(landscape)
  {
    .true  { display: inline-block;}
    .false { display: none;}
  }
}

p.attr-iphone5-portrait
{
  @include iphone5(portrait)
  {
    .true  { display: inline-block;}
    .false { display: none;}
  }
}

// ---------------------------------------------------------------------------------------------------------------------

p.attr-ipad-landscape
{
  @include ipad(landscape)
  {
    .true  { display: inline-block;}
    .false { display: none;}
  }
}

p.attr-ipad-portrait
{
  @include ipad(portrait)
  {
    .true  { display: inline-block;}
    .false { display: none;}
  }
}

p.attr-ipad-retina-landscape
{
  @include ipad-retina(landscape)
  {
    .true  { display: inline-block;}
    .false { display: none;}
  }
}

p.attr-ipad-retina-portrait
{
  @include ipad-retina(portrait)
  {
    .true  { display: inline-block;}
    .false { display: none;}
  }
}

// ---------------------------------------------------------------------------------------------------------------------

p.attr-max-width
{
  span[class*="max-width"]
  {
    display: inline-block;
    padding-right: 5px;
    color: #bbb;
  }
}

p.attr-max-width
{
  @each $res in 320,480,768,1024,1200,1400,1600
  {
    span.max-width-#{$res}
    {

      @include max-screen($res * 1px) { color: #00c30e; }
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------

p.attr-min-width
{
  span[class*="min-width"]
  {
    display: inline-block;
    padding-right: 5px;
    color: #bbb;
  }
}

p.attr-min-width
{
  @each $res in 320,480,768,1024,1200,1400,1600
  {
    span.min-width-#{$res}
    {
      @include min-screen( $res * 1px) { color: #00c30e; }
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------

p.attr-min-screen-height
{
  span[class*="min-screen-heigh"]
  {
    display: inline-block;
    padding-right: 5px;
    color: #bbb;
  }
}

p.attr-min-screen-height
{
  @each $res in 320,480,768,1024,1200,1400,1600
  {
    span.min-screen-height-#{$res}
    {
      @include min-screen-height( $res * 1px) { color: #00c30e; }
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------

p.attr-max-screen-height
{
  span[class*="max-screen-heigh"]
  {
    display: inline-block;
    padding-right: 5px;
    color: #bbb;
  }
}

p.attr-max-screen-height
{
  @each $res in 320,480,768,1024,1200,1400,1600
  {
    span.max-screen-height-#{$res}
    {
      @include max-screen-height( $res * 1px) { color: #00c30e; }
    }
  }
}
